@tailwind base;
@tailwind components;
@tailwind utilities;
.center{
  display: flex;
  justify-content: center;
  color: turquoise;
}
.App{
  background-image: url("./assets/pain.jpg");
  background-size: cover;
  height: 100vh;
  padding:0%;
}
.colorFooter{
  text-shadow: tomato;
  color: transparent;
  padding-top: 2rem;
}
.text-center{
  color:rebeccapurple;
  text-shadow: yellowgreen;
  text-decoration: double;
  text-decoration-color: aquamarine;
}
/* .border{
  display: flex;
  justify-content: center;
} */
button{
  border: brown;
  color: brown;
  background-color: coral;
}